<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIDOMPUL X AOELIYA - <%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/datepicker.min.js"></script>
</head>

    <% if (loggedIn) { %>
    <header class="text-gray-500 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
                </svg>
                <span class="ml-3 text-xl">SIDOMPUL X AOELIYA</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <% if (!admin) { %>
                    <a href="/index" class="mr-5 hover:text-gray-900">Histori Transaksi</a>
                    <a href="/awg-index" class="mr-5 hover:text-gray-900">AWG Histori Transaksi</a>
                    <a href="/xwg-index" class="mr-5 hover:text-gray-900">XWG Histori Transaksi</a>
                    <a href="/list-product" class="mr-5 hover:text-gray-900">List Produk</a>
                    <a href="/list-command" class="mr-5 hover:text-gray-900">List Command</a>
                <% } %>
            </nav>
        </div>
    </header>
    <% } %>

<body>